@model foodcorner.Models.Customer

@{
    ViewBag.Title = "cWelcome";
}

<html>
<head>
    <meta charset="utf-8">
    
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/Content/csslr/nunito-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Content/csslr/style.css" />
</head>
<body class="form-v6" style="padding-top:50px">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/Content/imageslr/shiu.jpg" alt="form">
            </div>
            <form class="form-detail" action="#" method="post">

                
                <br />
                <div class="form-row">
                    <h3 style="color:darkslateblue;font-style: italic; text-align:center; "> Welcome  To FoodFun</h3>
                    <br />
                    <br/>
                    <p style="color:Black;font-style: italic;font-size:medium; padding-top:20px">Bringing you the best in the town. Here comes food fun where you can order whatever you want and at any time. We offer you mix variety of food, mexican , italian , fast food, desi food , traditional food and many more . All thing at one place so hurry up and place order.</p>

                    <h4 style="color:darkslateblue;font-style: italic; text-align:center; padding-left: 10px">@Html.ActionLink("Place Order", "PlaceOrder", new { id = Model.CustomerId })</h4>
                    <br />
                    <br />
                </div>
                <div class="form-row">
                    <p style="color:Black;font-style: italic; font-size:medium;">Review your previous  orders. And lets us know about your experience on previous orders, so that we can make things good for you.</p>
                    </br>
                    <h4 style="color:darkslateblue;font-style: italic; text-align:center; padding-left: 10px">@Html.ActionLink("View Order", "ViewOrder", new { id = Model.CustomerId })</h4>

                </div>


                }

            </form>
        </div>
    </div>
</body>
</html>

