@model foodcorner.Models.AdminOrder

@{
    ViewBag.Title = "AdminCheckout";
}

<h3 style="margin-top:50px;font-family:'Times New Roman', Times, serif;font-size:40px; margin-bottom:50px;padding-top:200px; text-align:center;color:cornflowerblue"><b> Your order has been placed.It will be delivered very soon </b></h3>

<h3 style="margin-top:50px;font-family:'Times New Roman', Times, serif;font-size:40px; margin-bottom:50px;padding-top:50px; text-align:center;color:cornflowerblue"> </h3>