@model IEnumerable<foodcorner.Models.SupplierCategory>

@{
    ViewBag.Title = "PlaceOrder";
}

<h2 style="margin-top:50px;font-family:'Times New Roman', Times, serif;font-size:0px; margin-bottom:50px;padding-top:100px; text-align:center;color:cornflowerblue"> MENU</h2>

<p style="margin-top:50px;font-family:'Times New Roman', Times, serif;font-size:40px; margin-bottom:50px;padding-top:-5px; text-align:center;color:cornflowerblue"><b>CATEGORIES</b></p>


<table class="table">
    <tr>
        <td style="font-family:Arial;font-size:24px;padding-left:150px">Category Name</td>
        <td style="font-family:Arial;font-size:24px;padding-right:80px">Items</td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="font-family:Arial;font-size:24px;padding-left:150px">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="font-family:Arial;font-size:24px;padding-right:80px">

            @Html.ActionLink("View Items", "ViewSupplierItems", new { id = item.CatId })


        </td>
    </tr>
    }

</table>
